.base-text {
  &__header-h1 {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    color: rgba(53, 54, 55, 1);
  }
  &__header-h2 {
    font-family: "Average Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.26em;
    text-align: left;
    color: rgba(117, 135, 160, 1);
  }
  &__header-h3 {
  }
  &__text-1 {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(121, 121, 121, 1);
  }
  &__text-2 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: rgba(19, 19, 19, 1);
  }
}
