.base-link {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(89, 107, 134, 1);
  text-decoration: none;
  img {
    margin-left: 8px;
  }
}
