.base-navigation {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  &__link {
    text-decoration: none;
    color: green;
    &__active {
      font-weight: 600;
      color: red;
    }
  }
}
